@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.80)),url("https://imgur.com/ANOwNL5.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    background-attachment: fixed;
}

nav{
    padding: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    margin: 30px;
    text-align: center;
    display: block;
    padding: 10px;    
}

.nav__box{
    border: 2px solid white;

    text-align: center;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
}


  
  .nav__box:before {
      content: "";
      position: absolute;
      height: 150px;
      width: 50px;
      background : #fff;
      left: -55px;
      top: -40px;
      transform: rotate(37deg);
      transition: all .3s;
      opacity: 0.1;
    }
    
    .nav__box:hover:before {
      left:95%;
    }

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero p{
    color: white;
    font-size: 120px;
    font-weight: 530;
    text-align: center;
}